In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_Japanese_companies'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [5]:
soup.find_all('wikitable sortable')

[]

In [6]:
table0 = soup.find_all('table')[0]

In [8]:
# print(table0)
# print(table1)

In [25]:
dt0_titles = table0.find_all('th')

In [57]:
#dt0_titles

In [27]:
t0_titles = [title.text.strip() for title in dt0_titles]
print(t0_titles)

['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)', 'Profits(USD millions)', 'Assets (USD millions)', 'Employees', 'Headquarters']

In [28]:
df0 = pd.DataFrame(columns = t0_titles)
df0

Empty DataFrame
Columns: [Rank, Fortune 500rank, Name, Industry, Revenue(USD millions), Profits(USD millions), Assets (USD millions), Employees, Headquarters]
Index: []

In [30]:
col_data0 = table0.find_all('tr')

In [31]:
for row in col_data0[1:]:
    row_data = row.find_all('td')
    ind_row_data = [data.text.strip() for data in row_data]

    length = len(df0)
    df0.loc[length] = ind_row_data

In [43]:
#df0

In [39]:
#heading_table0_titles
print(df0.columns)

Index(['Rank', 'Fortune 500rank', 'Name', 'Industry', 'Revenue(USD millions)',
       'Profits(USD millions)', 'Assets (USD millions)', 'Employees',
       'Headquarters'],
      dtype='object')

In [44]:
for col in df0.columns:
    df0[col] = pd.to_numeric(df0[col], errors='ignore')

In [45]:
print(df0.dtypes)

Rank                      int64
Fortune 500rank           int64
Name                     object
Industry                 object
Revenue(USD millions)    object
Profits(USD millions)    object
Assets (USD millions)    object
Employees                object
Headquarters             object
dtype: object

In [46]:
table1 = soup.find_all('table')[1]

In [48]:
dt1_titles = table1.find_all('th')
#dt1_titles

In [49]:
t1_titles = [title.text.strip() for title in dt1_titles]
print(t1_titles)

['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters', 'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)', 'Value(billions US$)', 'Industry']

In [50]:
df1 = pd.DataFrame(columns = t1_titles)
df1

Empty DataFrame
Columns: [Rank, Forbes 2000 rank, Name, Headquarters, Revenue(billions US$), Profit(billions US$), Assets(billions US$), Value(billions US$), Industry]
Index: []

In [53]:
col_data1 = table1.find_all('tr')
#col_data1

In [54]:
for row in col_data1[1:]:
    row_data = row.find_all('td')
    ind_row_data = [data.text.strip() for data in row_data]
    
    length = len(df1)
    df1.loc[length] = ind_row_data

In [56]:
#df1

In [60]:
#heading_table0_titles
print(df1.columns)

Index(['Rank', 'Forbes 2000 rank', 'Name', 'Headquarters',
       'Revenue(billions US$)', 'Profit(billions US$)', 'Assets(billions US$)',
       'Value(billions US$)', 'Industry'],
      dtype='object')

In [61]:
for col in df1.columns:
    df1[col] = pd.to_numeric(df1[col], errors='ignore')

In [62]:
print(df1.dtypes)

Rank                       int64
Forbes 2000 rank           int64
Name                      object
Headquarters              object
Revenue(billions US$)    float64
Profit(billions US$)     float64
Assets(billions US$)      object
Value(billions US$)      float64
Industry                  object
dtype: object

In [67]:
df0.to_csv(r'C:\Users\juven\Documents\Top Japaneese Companies_PyWebScrap_Test00.csv', mode='a', index=False, header=True)

In [68]:
df1.to_csv(r'C:\Users\juven\Documents\Top Japaneese Companies_PyWebScrap_Test01.csv', mode='a', index=False, header=True)

In [69]:
output_csv_path = "Top Japaneese Companies_PyWebScrap_Test01_Combind.xlsx"

In [70]:
with pd.ExcelWriter(output_csv_path, engine="xlsxwriter") as writer:
    df0.to_excel(writer, sheet_name="Fortune_500")
    df1.to_excel(writer, sheet_name="Forbes_2000")